# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/FYUI/Debug/FYUI.exp
/FYUI/Debug/FYUI.lib
/FYUI/Debug/FYUI.pdb
/FYUI/Debug/FYUI.dll
/FYUI/FYUI/Debug
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
/FYUI/.vs/FYUI/FileContentIndex/dfdb38f9-20ab-47aa-b21d-050e9fafa29e.vsidx
/FYUI/.vs/FYUI/v17/DocumentLayout.json
/FYUI/.vs/FYUI/v17/.suo
/FYUI/.vs/FYUI/v17/DocumentLayout.backup.json
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
/FYUI/.vs/FYUI/v17/ipch/dcf67f04350e7dcc.ipch
/FYUI/.vs/FYUI/v17/fileList.bin
/FYUI/.vs/FYUI/v17/Solution.VC.db
/FYUI/.vs/FYUI/v17/Solution.VC.db-shm
/FYUI/.vs/FYUI/v17/Solution.VC.db-wal
/FYUI/.vs/FYUI/v17/Browse.VC.db
/FYUI/.vs/FYUI/v17/Browse.VC.db-shm
/FYUI/.vs/FYUI/v17/Browse.VC.db-wal
/FYUI/.vs/FYUI/v17/Browse.VC.opendb
/FYUI/.vs/FYUI/v18/DocumentLayout.backup.json
/FYUI/.vs/FYUI/v18/DocumentLayout.json
/FYUI/.vs/FYUI/v18/fileList.bin
/FYUI/.vs/FYUI/v18/.suo
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/SemanticSymbols.db
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/CodeChunks.db
/FYUI/.vs/FYUI/CopilotIndices/18.0.981.45449/CodeChunks.db-wal
/FYUI/.vs/FYUI/CopilotIndices/18.0.981.45449/SemanticSymbols.db-shm
/FYUI/.vs/FYUI/CopilotIndices/18.0.981.45449/SemanticSymbols.db-wal
/FYUI/.vs/FYUI/CopilotIndices/18.0.981.45449/CodeChunks.db-shm
/FYUI/.vs/FYUI/copilot-chat/44e3098a/sessions/44228c1b-b4ab-429a-89f4-d6f753aa7808
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
/FYUI/.vs/FYUI/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
FYUI
